/* styles.css */

* {
	font-family: Arial;
}

body {
	background-image: url(../img/efecto-recording-2026-02-27T23-15-18.mp4);
	background-size: cover;
}

.video-background {
  position: fixed; /* or 'absolute' if within a specific section */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide any overflow */
  z-index: -1; /* Send the video to the background */
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the video */
  object-fit: cover; /* Ensures the video covers the entire area without stretching*/
}