/* styles.css */

* {
	font-family: "Geom";
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

.big-text {
	font-size: 18vw;
	letter-spacing: -2vw;
}

.story {
	font-size: 6vw;
	line-height: 5rem;
}

.offset-text {
	margin-left: 200px;
}

p {
	position: relative;
}